* {
    height: auto;  /* Correct the height property */
    width: auto;   /* Correct the width property */
    box-sizing: border-box;  /* Ensure padding and border are included in element's total width and height */
}

body {
    margin: 0;  /* Remove default body margins */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  /* Stack elements vertically */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 60px;  /* Adjust the gap between resume and menu */
    padding: 10px 60px;   
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    z-index: 1000;  /* Ensure it stays on top of other content */
}


.resume {
    font-size: 25px;
    cursor: pointer;
}

.resume p {
    margin: 0;
    padding: 10px;
    border-radius: 10px;
    background-color: #123123;
    color: white;
    font-weight: bold;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.menu a {
    color: white;  /* Unified color property */
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
    border-radius: 3px;
}

.menu a:hover {
    background-color: #123123;
}

.bg-pic {
    position: relative;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    filter: blur(8px);
}

.bg-pic::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Overlay color */
}

.my-details {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30vh;
    top: 20%;
    left: 20%;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 30px 80px;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
}

.contact {
    display: grid;
    gap: 10px;
}

#vinayak-pic {
    height: 400px;
    width: 400px;
    border: 50px solid #333333;
    border-radius: 50%;
}

.my-detail span {
    background-color: #123123;
    color: white;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}

.my-detail h1 {
    margin-bottom: 0;
}

.my-detail h3 {
    margin-top: 0;
}

.my-detail a {
    color: black;
    text-decoration: none;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;  /* Adjust the gap as needed */
    margin-top: 30px;
}

/* About me */
#bg-aboutme{
    width: 500px;
}